.Contador input{
    font-size: 1.4rem;
    width: 60px;
}
.Contador button{
    min-width: 25px;
    color: #fff;
    background-color: rgb(43, 42, 42);
    border:none;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 2px;
}
